body head{
    margin: 0%;
    padding: 0%;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
li{
    display: inline-block;
}
li a:hover {
    opacity: 50%;
}
li a:visited {
    color: red;
}
li a:link{
    color: black;
}
.body-hawaii{
    background-image: url(/IMG/ocean-screensaver.jpeg); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-size:auto;
}
.blog-hawaii{
    background-color: white;
    width: 400px;
    



}
.body-where{
    background-image: url(/IMG/mountain.png); 
    background-repeat: no-repeat; 
    background-position: fixed;
}
