html body{
    margin: 0;
    padding: 0;
  }
  /* This is the styling for the footer  */
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: black;
    width: 600px;
}
li{
    display: inline-block;

}
li a:hover {
    opacity: 50%;
}
li a:visited {
    color: red;
}
li a:link{
    color: goldenrod;
}
 /*  */

 .header{
     width: 100%;
     background-image: url('/IMG/plane.png');

 }

.navbar{
    width: 400px;
    background-color: white;
    opacity: 30%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}
.navbar a{
    margin-left: 45px;
    text-decoration: none;
}
.navbar a:hover {
    opacity: 50%;
}
.navbar a:visited {
    color: blue;
}
.navbar a:link{
    color: black;
}
/* Hawaii background picture styling  */
.body-hawaii{
    background-image: url(/IMG/hawaii-sunset-ocean.jpeg); 
    background-position: fixed; 
    background-repeat:no-repeat; 
    background-size: cover;
}
/* Hawaii text "blog" styling  */
.blog-hawaii{
    background-color: white;
    width: 400px;
    padding: 0px 20px 5px 10px;
    border: groove 3px; 
    border-radius: 9px;
}

/* Whale watching picture link styling  */
.whale-watching{
    border-style:solid;
    border-width: 5px;
    padding: 0px;
    margin: 5px 5px;
    width: 250px;
}
/* YouTube video styling  */
iframe{
    float:right;
}
/* Where to/suggestion page background img styling  */
.body-where{
    background-image: url(/IMG/mountain.png); 
    background-repeat: no-repeat; 
    background-position: fixed;
    background-size: cover;
}
/* need to see if background img is too small or if there is display setting I need to change */